.static-three-comments {
    background-position: 50%;
    background-size: cover;
}

.static-three-comments__container.page-width{
    max-width: 1400px;
}

.static-three-comments__blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.static-three-comments__title {
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 66px;
    line-height: 70px;
}

.static-three-comments__card {
    max-width: 390px;
    padding: 30px;
    flex-basis: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    border-radius: 12px;
    flex-grow: 1;
}

.static-three-comments__card-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 15px;
}

.static-three-comments__cards-text {
    color: #515151;
    font-size: 18px;
    line-height: 32px;
    padding: 0;
    margin: 0;
}

.static-three-comments__cards-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}


@media screen and (max-width: 990px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 479px) {

}


